.botaoPrincipal {
    display: inline-block;
    border-radius: 24px 0 24px 0;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-image: url("../../assets/1.png");
    color: black;
    border: 3px solid #FF7432;;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botaoPrincipal.lg {
    padding: 1.5rem 2.75rem;
    font-size: 1.5rem;
    line-height: 1.125rem;
}
 
.botaoPrincipal:hover {
    border: 3px solid var(--azul-escuro);
}